USE [UC_Operations]
GO
/****** Object:  Table [dbo].[Tb_ParameterType]    Script Date: 5/2/2020 6:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_ParameterType](
	[ParameterTypeID] [int] NOT NULL,
	[ParameterType] [varchar](200) NOT NULL,
 CONSTRAINT [uc_ConfigDataTypeID] UNIQUE NONCLUSTERED 
(
	[ParameterTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uc_ParameterType] UNIQUE NONCLUSTERED 
(
	[ParameterType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
