USE [UC_Admin]
GO
/****** Object:  Table [dbo].[tb_AccessScope]    Script Date: 02-05-2020 14:39:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_AccessScope](
	[AccessScopeID] [int] IDENTITY(1,1) NOT NULL,
	[AccessScopeName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tb_AccessScope] PRIMARY KEY CLUSTERED 
(
	[AccessScopeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uc_AccessScopeName] UNIQUE NONCLUSTERED 
(
	[AccessScopeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
