USE [UC_Admin]
GO
/****** Object:  Table [dbo].[tb_UserPrivilege]    Script Date: 5/2/2020 5:58:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_UserPrivilege](
	[UserPrivilegeID] [int] IDENTITY(1,1) NOT NULL,
	[UserPrivilege] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tb_UserPrivilege] PRIMARY KEY CLUSTERED 
(
	[UserPrivilegeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uc_UserPrivilege] UNIQUE NONCLUSTERED 
(
	[UserPrivilege] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
