USE [UC_Commerce]
GO
/****** Object:  Table [dbo].[tb_UploadBreakout]    Script Date: 5/2/2020 6:14:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_UploadBreakout](
	[UploadBreakoutID] [int] IDENTITY(1,1) NOT NULL,
	[OfferID] [int] NOT NULL,
	[UploadDestinationID] [int] NOT NULL,
	[DialedDigit] [varchar](15) NOT NULL,
	[CountryCode] [varchar](100) NULL,
	[EffectiveDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
	[ModifiedByID] [int] NOT NULL,
	[Flag] [int] NOT NULL,
 CONSTRAINT [PK_tb_UploadBreakout] PRIMARY KEY NONCLUSTERED 
(
	[UploadBreakoutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_UploadBreakout] ADD  CONSTRAINT [DF_tb_UploadBreakout_ModifiedDate]  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[tb_UploadBreakout] ADD  CONSTRAINT [DF_tb_UploadBreakout_Flag]  DEFAULT ((0)) FOR [Flag]
GO
ALTER TABLE [dbo].[tb_UploadBreakout]  WITH CHECK ADD  CONSTRAINT [FK_tb_UploadBreakout_tb_UploadDestination] FOREIGN KEY([UploadDestinationID])
REFERENCES [dbo].[tb_UploadDestination] ([UploadDestinationID])
GO
ALTER TABLE [dbo].[tb_UploadBreakout] CHECK CONSTRAINT [FK_tb_UploadBreakout_tb_UploadDestination]
GO
