USE [UC_Commerce]
GO
/****** Object:  Table [dbo].[tb_UIChartTopNPartnersByOffers]    Script Date: 5/2/2020 6:14:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_UIChartTopNPartnersByOffers](
	[VendorSource] [varchar](100) NULL,
	[TotalOffers] [int] NULL
) ON [PRIMARY]
GO
