USE [UC_Bridge]
GO
/****** Object:  Table [dbo].[tb_ExceptionReferenceList]    Script Date: 5/2/2020 6:44:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ExceptionReferenceList](
	[ReferenceID] [int] NULL
) ON [PRIMARY]
GO
