USE [UC_Bridge]
GO
/****** Object:  Table [dbo].[Temp_BridgeReference]    Script Date: 5/2/2020 6:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_BridgeReference](
	[Account] [varchar](100) NULL,
	[Referenceno] [varchar](100) NULL
) ON [PRIMARY]
GO
