USE [UC_Bridge]
GO
/****** Object:  Table [dbo].[Temp_OfferTemplate]    Script Date: 5/2/2020 6:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_OfferTemplate](
	[OfferTemplateID] [int] NOT NULL,
	[OfferTemplateName] [varchar](60) NOT NULL
) ON [PRIMARY]
GO
