USE [UC_Bridge]
GO
/****** Object:  Table [dbo].[tb_VOT]    Script Date: 5/2/2020 6:44:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_VOT](
	[VOTID] [int] IDENTITY(1,1) NOT NULL,
	[VendorOfferFormat] [varchar](50) NOT NULL,
	[MultipleSheetsInOffer] [int] NOT NULL,
	[TemplateFileName] [varchar](200) NOT NULL,
 CONSTRAINT [PK_tb_VOT] PRIMARY KEY CLUSTERED 
(
	[VOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [uc_OfferType_MultipleSheets] UNIQUE NONCLUSTERED 
(
	[VendorOfferFormat] ASC,
	[MultipleSheetsInOffer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
