USE [UC_Facilitate]
GO
/****** Object:  Table [dbo].[Tb_DupCheck_20200424]    Script Date: 5/2/2020 6:47:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_DupCheck_20200424](
	[CDRFileName] [varchar](1000) NULL,
	[TransactionStr] [varchar](1000) NULL
) ON [PRIMARY]
GO
