USE [UC_Facilitate]
GO
/****** Object:  Table [dbo].[TempCDRFileData_20181025042306]    Script Date: 5/2/2020 6:47:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempCDRFileData_20181025042306](
	[RecordData] [varchar](2000) NULL,
	[RecordID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
