USE [UC_Facilitate]
GO
/****** Object:  Table [dbo].[TmpFTPCmd183537]    Script Date: 5/2/2020 6:47:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmpFTPCmd183537](
	[Command] [varchar](255) NULL
) ON [PRIMARY]
GO
