USE [UC_Report]
GO
/****** Object:  Table [dbo].[c]    Script Date: 5/2/2020 6:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[c](
	[Account] [varchar](100) NULL,
	[JAN19_Calls] [varchar](20) NULL,
	[JAN19_Minutes] [varchar](20) NULL,
	[JAN19_USD] [varchar](20) NULL,
	[FEB19_Calls] [varchar](20) NULL,
	[FEB19_Minutes] [varchar](20) NULL,
	[FEB19_USD] [varchar](20) NULL,
	[MAR19_Calls] [varchar](20) NULL,
	[MAR19_Minutes] [varchar](20) NULL,
	[MAR19_USD] [varchar](20) NULL,
	[APR19_Calls] [varchar](20) NULL,
	[APR19_Minutes] [varchar](20) NULL,
	[APR19_USD] [varchar](20) NULL
) ON [PRIMARY]
GO
