USE [UC_Report]
GO
/****** Object:  Table [dbo].[tb_CDRExtract_20200302150204]    Script Date: 5/2/2020 6:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CDRExtract_20200302150204](
	[CDRFileName] [varchar](200) NULL,
	[CallDate] [date] NULL,
	[CallTime] [varchar](8) NULL,
	[CallingNumber] [varchar](30) NULL,
	[CalledNumber] [varchar](100) NULL,
	[OriginalCalledNumber] [varchar](100) NULL,
	[CallDuration] [int] NULL,
	[CircuitDuration] [int] NULL,
	[InSwitchName] [varchar](30) NOT NULL,
	[OutSwitchName] [varchar](30) NOT NULL,
	[INTrunk] [varchar](60) NOT NULL,
	[INTrunkName] [varchar](60) NULL,
	[OUTTrunk] [varchar](60) NOT NULL,
	[OUTTrunkName] [varchar](60) NULL,
	[INCommercialTrunk] [varchar](60) NOT NULL,
	[OUTCommercialTrunk] [varchar](60) NOT NULL,
	[INAccount] [varchar](60) NOT NULL,
	[OUTAccount] [varchar](60) NOT NULL,
	[INDestination] [varchar](60) NOT NULL,
	[OUTDestination] [varchar](60) NOT NULL,
	[INCountry] [varchar](60) NOT NULL,
	[OUTCountry] [varchar](60) NOT NULL,
	[RoutingDestination] [varchar](60) NOT NULL,
	[RoutingCountry] [varchar](60) NOT NULL,
	[INServiceLevel] [varchar](60) NOT NULL,
	[OUTServiceLevel] [varchar](60) NOT NULL,
	[CallType] [varchar](60) NOT NULL,
	[ReleaseCause] [varchar](100) NULL,
	[INErrorFlag] [varchar](33) NULL,
	[OUTErrorFlag] [varchar](33) NULL,
	[INChargeType] [varchar](30) NOT NULL,
	[INRatePlan] [varchar](60) NOT NULL,
	[INCurrency] [varchar](30) NOT NULL,
	[INNumberPlan] [varchar](100) NOT NULL,
	[INRate] [numeric](19, 6) NULL,
	[INRateBeginDate] [datetime] NOT NULL,
	[INRatingMethod] [varchar](100) NOT NULL,
	[INDateTimeBand] [varchar](100) NOT NULL,
	[INDimensionTemplate] [varchar](100) NOT NULL,
	[INRoundedCallDuration] [int] NULL,
	[INChargeDuration] [numeric](19, 4) NULL,
	[INAmount] [numeric](19, 6) NULL,
	[OUTChargeType] [varchar](30) NOT NULL,
	[OUTRatePlan] [varchar](60) NOT NULL,
	[OUTCurrency] [varchar](30) NOT NULL,
	[OUTNumberPlan] [varchar](100) NOT NULL,
	[OUTRate] [numeric](19, 6) NULL,
	[OUTRateBeginDate] [datetime] NOT NULL,
	[OUTRatingMethod] [varchar](100) NOT NULL,
	[OUTDateTimeBand] [varchar](100) NOT NULL,
	[OUTDimensionTemplate] [varchar](100) NOT NULL,
	[OUTRoundedCallDuration] [int] NULL,
	[OUTChargeDuration] [numeric](19, 4) NULL,
	[OUTAmount] [numeric](19, 6) NULL,
	[SessionID] [varchar](100) NULL,
	[OriginalInTrunkName] [varchar](100) NULL
) ON [PRIMARY]
GO
